body.single-future,
body.block-editor-page.post-type-future {

	main#primary {

		.post-thumbnail {

			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}

		header.entry-header {
			padding: 1rem 4rem;
			@include outer-container(56rem);

			h1.entry-title {
				font-family: $serif;
				font-size: 3rem;
				font-weight: normal;
				color: #fff;
			}

			@include media('<tablet') {
				padding: 2rem 2rem 0;

				h1.entry-title {
					font-size: 1.75rem;
				}
			}
		}

	}

	.entry-content,
	.block-editor-block-list__layout.is-root-container {

		> * {
			@include outer-container(48rem);
		}

		> section.wp-block-uagb-section.uagb-section__wrap,
		> div.wp-block-uagb-section.uagb-section__wrap {
			width: 100vw;
			max-width: 100vw;
			position: relative;
			left: 50%;
			right: 50%;
			margin-left: -50vw;
			margin-right: -50vw;
			padding: 2rem;

		 	.uagb-section__inner-wrap {
				@include outer-container(48rem);
			}

			&:first-of-type {
				margin-top: 1.5rem;
			}
		}
	}
}

body.page_futures {
	
	main#primary {

		.entry-header {

			.page-title {
				text-align: left;
			}
		}
		
		.entry-content {
			@include outer-container(48rem);

			.block-page-title {

				h1.entry-title {
					text-align: left;
				}
			}
		}
	}
}

body.admin_page_futures {

	.wp-block {
		@include outer-container(48rem);

		.block-page-title {

			h1.entry-title {
				text-align: left;
			}
		}
	}
}

body.page_futures,
body.admin_page_futures {

	.block-editor-block-list__layout.is-root-container,
	main#primary {

		.block-futures {
			
			h4 {
				padding: 2rem 1rem 0;

				@include media('<tablet') {
					padding: 2rem 2rem 0;
					margin-bottom: 0;
				}
			}

			.future {
				padding: 3rem 1rem;

				@include media('<tablet') {
					padding: 2rem 2rem 0;
				}

				a {

					h2 {
						font-size: 3.75rem;
						margin-top: 0;

						@include media('<tablet') {
							font-size: 2rem;
						}
					}

					p.future-excerpt {
						font-size: 1.5rem;
					}

					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
					}

					&:hover {
						text-decoration: none;

						span {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}


}
