.entry-content,
.edit-post-visual-editor.editor-styles-wrapper {
	
	.gform_wrapper {

		ul.gform_fields {
			margin: 0;
			padding: 0;

			li.gfield {

				input[type="text"],
				input[type="email"],
				input[type="url"],
				input[type="password"],
				input[type="search"],
				input[type="number"],
				input[type="tel"],
				input[type="range"],
				input[type="date"],
				input[type="month"],
				input[type="week"],
				input[type="time"],
				input[type="datetime"],
				input[type="datetime-local"],
				input[type="color"],
				textarea {
					width: 100%;
				}

				.ginput_container_consent {
					margin: 0 0 1.5rem;

					.gfield_consent_label {
						font-size: .875rem;
					}
				}
			}
		}
	}
}