.entry-content,
.edit-post-visual-editor.editor-styles-wrapper {
	/* Make sure rembeds and iframes fit their containers. */
	embed,
	iframe,
	object {
		max-width: 100%;
		margin-bottom: 0;
	}

	img {
		height: auto; // Make sure images are scaled correctly.
		max-width: 100%; // Adhere to container width.
		display: block;
	}

	figure {

		ul {
			margin: 0;

			li {
				margin: 0;
			}
		}
	}
}