.wp-block,
.entry-content {

	section.wp-block-uagb-section.uagb-section__wrap.animate-scroll-across {
		width: 100vw;
		max-width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;

	    .uagb-section__inner-wrap {
	    	@include outer-container(100vw);

	    	figure {

	    		img {
	    			transform: translateX(70vw);
	    			max-width: 80vw;

	    			@include media('<tablet') {
	    				max-width: unset;
	    				transform: unset;
	    				width: unset;
	    				background: #fff;
	    				max-height: 50vh;
	    				margin-top: 0;
	    			}
	    		}
	    	}
	    }

	    @include media('<tablet') {
    			overflow-x: scroll;
    			overflow-y: visible;
    		}
	}
}